.content-meta {
  margin-top: 0;
  direction: auto;
  color: #B0C4DE;

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
